<%- include ('partials/_header'); -%>

<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form action="/edit/<%= plato._id %>" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="nombre" placeholder="Plato" value="<%= plato.nombre %>">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="descripcion" cols="80"
                placeholder="Agregue una descripción"
                ><%= plato.descripcion %></textarea>
            </div>
            <div class="form-group">
              <input class="form-control" type="numeric" name="precio" placeholder="Precio" value="<%= plato.precio %>">
            </div>
            <button class="btn btn-primary" type="submit">
              Actualizar 
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ('partials/_footer'); -%>
